@use '@styles/common';
@use '@styles/colors';
@use '@styles/spacing';

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: spacing.$gap_24;
  justify-items: center;
}

.day {
  background-color: colors.$primary;
  width: spacing.space(30);
  height: spacing.space(30);
  border-radius: common.$circle_border_radius;
  color: colors.$text_primary;
  display: flex;
  align-items: center;
  justify-content: center;

  &__passed {
    background-color: colors.$primary_contrast;
  }

  &__current {
    background-color: colors.$danger;
  }

  &__future {
    background-color: colors.$text_secondary;
  }
}