@use '@styles/fonts';
@use '@styles/spacing';
@use '@styles/colors';
@use '@styles/common';

.input {
  @include fonts.font(14);
  padding: spacing.$space_12;
  border-radius: common.$base_border_radius;
  transition: common.$transition_fast;
  background-color: colors.$background_layout;
  color: colors.$text_primary;
  width: 100%;

  &:focus,
  &:hover {
    background-color: colors.$background_layout_action;
  }
}

.label {
  display: block;
  color: colors.$text_secondary;
}