@use '@styles/fonts';
@use '@styles/spacing';
@use '@styles/colors';
@use '@styles/common';

.input {
  @include fonts.font(14);
  padding: spacing.$space_12;
  border-radius: common.$base_border_size;
  transition: common.$base_transition;
  background-color: colors.$base_background;
  color: colors.$text_primary;

  &__thin {
    background-color: transparent;
    border-bottom: 1px solid colors.$accent_primary;
  }
}