@use "@styles/mixins";

.pageLayout {
  @include mixins.container_main;
  position: relative;
  min-height: 100vh;
}

.button {
  position: fixed;
  bottom: 0;
  width: 393px;
  left: 50%;
  transform: translateX(-50%);
}