@use "@styles/mixins";
@use "@styles/spacing";
@use "@styles/colors";

.pageLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.titleContainer {
  display: flex;
}

.content {
  padding: spacing.$space_28;
  flex-grow: 1;
}

.iconBack {
  margin-right: spacing.$space_8;
  color: colors.$text_primary;
  transform: rotate(90deg);
  cursor: pointer;
}

.button {
  position: sticky;
  left: 0;
  bottom: 0;
}