@use 'sass:color';
@use '@styles/fonts';
@use '@styles/spacing';
@use '@styles/colors';
@use '@styles/common';

.button {
  display: flex;
  align-items: center;
  border-radius: common.$base_border_radius;
  transition: common.$transition_fast;
  cursor: pointer;

  // sizes
  &__sm {
    padding: spacing.$space_8;
  }

  &__md {
    padding: spacing.$space_12;
  }

  // types
  &__primary {
    background-color: colors.$primary;

    &:hover,
    &:active {
      background-color: colors.$primary_active;
    }

    &_icon {
      color: colors.$text_primary;
    }
  }

  &__ghost {
    &:hover,
    &:active {
      & > div {
        color: colors.$text_secondary;
      }
    }

    &_icon {
      color: colors.$text_secondary;
    }
  }

  &__danger {
    background-color: colors.$danger;

    &:hover,
    &:active {
      background-color: colors.$danger_active;
    }

    &_icon {
      color: colors.$danger;
    }
  }

  // variant
  &__wide {
    justify-content: center;
    border-radius: 0;
    width: 100%;

    // sizes
    &__sm {
      padding: spacing.$space_12;
    }

    &__md {
      padding: spacing.$space_20;
    }
  }
}

.icon {
  display: flex;
  margin-left: spacing.$space_8;
}
