version: "3.8"

networks:
  app_net:
    external: true

services:
  nginx:
    image: nginx:stable
    container_name: nginx
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8081:80"
    depends_on:
      - frontend
    networks: [app_net]
    restart: unless-stopped

  frontend:
    build:
      context: .
      target: development
    container_name: frontend
    env_file: .env
    expose: ["3000"]
    volumes:
      - .:/app
      - /app/node_modules
    command: ["npm","run","start","--","--host","0.0.0.0","--port","3000"]
    networks: [app_net]
    restart: unless-stopped