@use '@styles/colors';
@use '@styles/fonts';

.text {
  font-weight: 400;
  color: colors.$text_primary;

  &__sm {
    @include fonts.font(12);
  }

  &__md {
    @include fonts.font(14);
  }

  &__primary {
    color: colors.$text_primary;
  }

  &__secondary {
    color: colors.$text_secondary;
  }
}