@use '@styles/colors';
@use '@styles/fonts';

.text {
  font-weight: 400;

  &_sm {
    @include fonts.font(12);
  }

  &_md {
    @include fonts.font(14);
  }

  &_primary {
    color: colors.$text_primary;
  }

  &_secondary {
    color: colors.$text_secondary;
  }

  &_ghost {
    color: colors.$text_primary;
  }
}