@use 'sass:color';
@use '@styles/fonts';
@use '@styles/spacing';
@use '@styles/colors';
@use '@styles/common';
@use '@styles/zIndex';

@keyframes toast-enter {
  from {
    transform: translate(0%, -20%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.container {
  position: fixed;
  top: spacing.$space_16;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: spacing.$space_12;
  pointer-events: none;
}

.toast {
  position: relative;
  pointer-events: auto;
  animation: toast-enter .3s;
  align-self: center;
  justify-content: center;
  border-radius: common.$circle_border_radius;
  padding: spacing.$space_12;
  color: colors.$text_primary;
  will-change: transform, opacity;

  &__success {
    background-color: colors.$success;
  }

  &__error {
    background-color: colors.$danger;
  }
}
