@use "sass:color";

$text_primary: #fff;
$text_secondary: #828282;

$primary: #13678A;
$primary_active: #177AA3;
$primary_disabled: #39525C;
$primary_contrast: #FF8B00;

$danger: #FF4858;
$danger_active: #DB414E;
$danger_disabled: #512E31;

$success: #159D27;

$ghost: transparent;
$ghost_active: #EDEDED;
$ghost_disabled: transparent;

$base_background: #012030;
$base_foreground: #043751;
$background_layout: #032739;
$background_layout_action: #032E44;