@use 'sass:math';
@use 'sass:color';
@use './colors';

$base_size: 16;
$base_size_rem: 1rem;

$base_border_size: math.div(10, $base_size) * $base_size_rem;

$transition_fast: .1s;
$transition_slow: .3s;

$gap_8: math.div(8, $base_size) * $base_size_rem;
$gap_12: math.div(12, $base_size) * $base_size_rem;
