@use '@styles/colors';

@keyframes animateRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: animateRotate .8s infinite ease-in-out;
  color: colors.$primary_contrast;
}

.fullPage {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}