@use 'sass:color';
@use '@styles/fonts';
@use '@styles/spacing';
@use '@styles/colors';
@use '@styles/common';
@use '@styles/zIndex';

.label {
  display: block;
  color: colors.$text_secondary;
  margin-bottom: spacing.$space_4;
}

.select {
  @include fonts.font(14);
  position: relative;
  border-radius: common.$base_border_radius;
  transition: common.$transition_fast;
  background-color: colors.$background_layout;
  color: colors.$text_primary;
  cursor: pointer;

  &:hover {
    background-color: colors.$background_layout_action;
  }

  &__opened {
    border-radius: common.$base_border_radius common.$base_border_radius 0 0;
  }
}

.value {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: spacing.$space_12;

  &_icon {
    color: colors.$text_primary;
    transition: common.$transition_slow;

    &__opened {
      transform: rotate(180deg);
    }
  }

  &_controls {
    display: flex;
    align-items: center;
    gap: spacing.$gap_8;
  }
}

.options {
  @include fonts.font(14);
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 0 0 common.$base_border_radius common.$base_border_radius;
  z-index: zIndex.$selectDropDown;
}

.option {
  display: flex;
  align-content: center;
  gap: spacing.$gap_8;
  cursor: pointer;
  background-color: colors.$background_layout;
  transition: common.$transition_fast;
  padding: spacing.$space_12;

  &:hover {
    background-color: colors.$background_layout_action;
  }

  &__selected {
    background-color: colors.$background_layout_action;
  }
}