@font-face {
  font-family: 'SFProText';
  src: url('../assets/fonts/SFProText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../assets/fonts/SFProText-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'SFProText', Arial, serif;
  font-size: 16px;
}

body {
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

input {
  outline: none;
  border: none;
}