@use "@styles/spacing";
@use "@styles/colors";

.container {
  display: flex;
  align-items: center;
  position: relative;
  width: spacing.$space_20;
  height: spacing.$space_20;
  cursor: pointer;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.label {
  margin-left: spacing.$space_24;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: spacing.$space_20;
  width: spacing.$space_20;

  .on {
    color: colors.$primary_contrast;
  }

  .off {
    color: colors.$primary;
  }
}
