@use 'sass:math';
@use '@styles/common';
@use '@styles/colors';
@use '@styles/spacing';

.container {
  background-color: colors.$background_layout;
  border-radius: common.$base_border_radius;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 0 0 spacing.$space_12;
  border-bottom: 1px dashed colors.$text_secondary;
}

.table {
  border-spacing: math.div(12, common.$base_size) * common.$base_size_rem;
  table-layout: fixed;
  width: 100%;
}

.button {
  border-radius: 0 0 common.$base_border_radius common.$base_border_radius;
}
