@use 'sass:color';
@use '@styles/common';
@use '@styles/spacing';
@use '@styles/colors';

.wrapper {
  display: flex;
  align-items: center;
  gap: spacing.$gap_12;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-right: spacing.$space_16;
}

.title {
  margin-right: spacing.$space_4;
}

.icons {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.iconPrimary {
  flex: 0 0 auto;
}

.iconSecondary {
  flex: 0 0 auto;
}

.iconToggle {
  transition: common.$transition_slow;
  color: colors.$text_primary;
  flex: 0 0 auto;

  &__opened {
    transform: rotate(180deg);
  }
}

.content {
  margin-top: spacing.$space_16;
}